{% extends "base.html" %}
{% block title %}logged_out.html{% endblock %}
{% block nav %}
        <li class="nav-item active">
            <a class="nav-link" href="#">Main</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">Calendar</a>
        </li>
    {% if user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{% firstof user.get_short_name user.get_username %}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container ">
        <div class="col-md-6" style="margin: 50px auto;">
            <h1>Logged out </h1>

            <p>"Thanks for spending your quality time with this web site today."</p>

            <p><a href="{% url 'login' %}">Log in again</a></p>
        </div>
    </div>
{% endblock %}
{% block bootstrap %}
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}