{% extends "base.html" %}
{% block title %}register.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}
{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Main</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="#">Calendar</a>
    </li>
    {% if user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{% firstof user.get_short_name user.get_username %}</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}

    <div class="container ">
        <div class="col-md-8" style="margin: 50px auto;">
            <h1>User Registration</h1>
            <form class="form" style="margin: 50px auto; width: 80%;" action="." method="post">{% csrf_token %}
                {% if form.errors %}
                    <p class="errornote">Wrong! Please correct the error(s) below.</p>
                {% endif %}
                {#                {{ form.as_p }}#}

                <div class="form-group">
                    <label for="password">Username</label>
                    <input type="text" class="form-control" id="username" name="username"  placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Password1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Password confirmation</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Password2">
                    </div>
                </div>

                <div class="container" style="width:20%; height:40px; float: right;">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>

                <input type="hidden" style="margin: 50px auto;" name="next" value="{{ next }}" />
                <script type="text/javascript">document.getElementById('id_username').focus();</script>
            </form>
        </div>
    </div>
{% endblock %}
{% block bootstrap %}
    <script src="../../static/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% endblock %}