{% extends "base.html" %}

{% block title %}To do List{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/todolist_list.css" %}{% endblock %}
<script src="{% static "js/todolist_list.js" %}"></script>



{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="/">Main</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/calendar">Calendar</a>
    </li>
    {% if user.is_active %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{% firstof user.get_short_name user.get_username %}</a>
        </li>

    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <button onclick="location.href='/create'" id="newBtn" class="btn btn-primary">New</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Until Today</h1>
                <div class="cont_princ_lists">
                    <ul>
                        {% for todo in today_work %}
                            <li class="list_shopping li_num_0_1 li_list" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ todo.title }}">
                                <div class="col_md_1_list">
                                    <p>warning</p>
                                </div>
                                <div class="col_md_2_list">
                                    <h4>{{ todo.title }}</h4>
                                    <p>{{ todo.content }}</p>
                                </div>
                                <div class="col_md_3_list">
                                    <div class="cont_text_date">
                                        {% if todo  %}

                                        {% endif %}
                                        <p>Until: {{ todo.end_date }}</p>
                                    </div>
                                    <div class="cont_btns_options">
                                        <ul>
                                            <li><button onclick="location.href='{{ todo.id }}/update/'" style="position: relative;float: left; z-index: 99" type="button" class="btn btn-info toDoBtn">Update</button></li>
                                            <li><button onclick="location.href='{{ todo.id }}/delete/'" type="button" class="btn btn-danger toDoBtn">Delete</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- <li class="list_work"></li>
                  <li class="list_sport"></li>
                  <li class="list_music"></li>
                 -->  </ul>
                    <!--   End cont_todo_list_top  -->   </div>


                <!--   End cont_central  -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">To do list</h1>
                <div class="cont_princ_lists">
                    <ul>
                        {% for todo in object_list %}
                            <li class="list_work li_num_0_1 li_list" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ todo.title }}">
                                <div class="col_md_1_list">
                                    <p>normal</p>
                                </div>
                                <div class="col_md_2_list">
                                    <h4>{{ todo.title }}</h4>
                                    <p>{{ todo.content }}</p>
                                </div>
                                <div class="col_md_3_list">
                                    <div class="cont_text_date">
                                        {% if todo  %}

                                        {% endif %}
                                        <p>Until: {{ todo.end_date }}</p>
                                    </div>
                                    <div class="cont_btns_options">
                                        <ul>
                                            <li><button onclick="location.href='{{ todo.id }}/update/'" style="position: relative;float: left; z-index: 99" type="button" class="btn btn-info toDoBtn">Update</button></li>
                                            <li><button onclick="location.href='{{ todo.id }}/delete/'" type="button" class="btn btn-danger toDoBtn">Delete</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- <li class="list_work"></li>
                  <li class="list_sport"></li>
                  <li class="list_music"></li>
                 -->  </ul>
                    <!--   End cont_todo_list_top  -->   </div>


                <!--   End cont_central  -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">complete</h1>
                <div class="cont_princ_lists">
                    <ul>
                        {% for todo in finish_work %}
                            <li class="list_dsp_true li_num_0_1 li_list ">
                                <div class="col_md_1_list">
                                    <p>Complete</p>
                                </div>
                                <div class="col_md_2_list">
                                    <h4>{{ todo.title }}</h4>
                                    <p>{{ todo.content }}</p>
                                </div>
                                <div class="col_md_3_list">
                                    <div class="cont_text_date">
                                        {% if todo  %}

                                        {% endif %}
                                        <p>Until: {{ todo.end_date }}</p>
                                    </div>
                                    <div class="cont_btns_options">
                                        <ul>
                                            <li><button onclick="location.href='{{ todo.id }}/update/'" style="position: relative;float: left; z-index: 99" type="button" class="btn btn-info toDoBtn">Update</button></li>
                                            <li><button onclick="location.href='{{ todo.id }}/delete/'" type="button" class="btn btn-danger toDoBtn">Delete</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- <li class="list_work"></li>
                  <li class="list_sport"></li>
                  <li class="list_music"></li>
                 -->  </ul>
                    <!--   End cont_todo_list_top  -->   </div>


                <!--   End cont_central  -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">finish</h1>
                <div class="cont_princ_lists">
                    <ul>
                        {% for todo in finish_work %}
                            <li class="list_finish_state li_num_0_1 li_list">
                                <div class="col_md_1_list">
                                    <p>fail</p>
                                </div>
                                <div class="col_md_2_list">
                                    <h4>{{ todo.title }}</h4>
                                    <p>{{ todo.content }}</p>
                                </div>
                                <div class="col_md_3_list">
                                    <div class="cont_text_date">
                                        {% if todo  %}

                                        {% endif %}
                                        <p>Until: {{ todo.end_date }}</p>
                                    </div>
                                    <div class="cont_btns_options">
                                        <ul>
                                            <li><button onclick="location.href='{{ todo.id }}/update/'" style="position: relative;float: left; z-index: 99" type="button" class="btn btn-info toDoBtn">Update</button></li>
                                            <li><button onclick="location.href='{{ todo.id }}/delete/'" type="button" class="btn btn-danger toDoBtn">Delete</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- <li class="list_work"></li>
                  <li class="list_sport"></li>
                  <li class="list_music"></li>
                 -->  </ul>
                    <!--   End cont_todo_list_top  -->   </div>


                <!--   End cont_central  -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    완료하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Complete</button>
                </div>
            </div>
        </div>
    </div>
    {##}
    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-12 text-center">#}
    {#                <h1 class="mt-5">Full List</h1>#}
    {#                <div class="cont_princ_lists">#}
    {#                    <ul>#}
    {#                        <li class="list_shopping li_num_0_1 li_list">#}
    {#                            <div class="col_md_1_list">#}
    {#                                <p>SHOPPING</p>#}
    {#                            </div>#}
    {#                            <div class="col_md_2_list">#}
    {#                                <h4>BUY COFFEE BEANS</h4>#}
    {#                                <p>DODIDONE COFFEE STORE</p>#}
    {#                            </div>#}
    {#                            <div class="col_md_3_list">#}
    {#                                <div class="cont_text_date">#}
    {#                                    <p>TODAY</p>#}
    {#                                </div>#}
    {#                                <div class="cont_btns_options">#}
    {#                                    <ul>#}
    {#                                        <li><button type="button" class="btn btn-info">info</button></li>#}
    {#                                    </ul>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                        <li class="list_work li_list">#}
    {#                            <div class="col_md_1_list">#}
    {#                                <p>Work</p>#}
    {#                            </div>#}
    {#                            <div class="col_md_2_list">#}
    {#                                <h4>BUY COFFEE BEANS</h4>#}
    {#                                <p>DODIDONE COFFEE STORE</p>#}
    {#                            </div>#}
    {#                            <div class="col_md_3_list">#}
    {#                                <div class="cont_text_date">#}
    {#                                    <p>TODAY</p>#}
    {#                                </div>#}
    {#                                <div class="cont_btns_options">#}
    {#                                    <ul>#}
    {#                                        <li><button type="button" class="btn btn-info">info</button></li>#}
    {#                                    </ul>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </li>#}
    {#                        <!-- <li class="list_work"></li>#}
    {#                  <li class="list_sport"></li>#}
    {#                  <li class="list_music"></li>#}
    {#                 -->  </ul>#}
    {#                    <!--   End cont_todo_list_top  -->   </div>#}
    {##}
    {##}
    {#                <!--   End cont_central  -->#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        modal.find('.modal-title').text(recipient);
        modal.find('.modal-body input').val(recipient)
    })
</script>
{% endblock %}

